/* обводка outline: 2px solid deeppink;  */
/* примечания */
/* .button наследование шрифта, тк этот тег по умолчанию использует свои */
/* .button:hover, .button:focus, .button:active внимание на порядок псевдоклассов в правиле */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  min-width: 1160px;
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* горизонтальная граница разделов */
.section-border {
  border-bottom: 2px solid #eeeeee;
}

.central {
  margin: 0 auto;
  width: 1160px;
}

.page-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

/* Стили состояний допол. ссылок заголовков и тестов */
.add-link {
  color: inherit;
}

.add-link:hover,
.add-link:focus {
  color: #fb565a;
}

.add-link:active {
  color: rgba(0, 0, 0, 0.3);
}


/* кнопки по умолчанию серая */
.button {
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 49px;
  padding: 1px 15px 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 50px;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #dfdfdf;
}

.button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

/* Красная кнопка */
.button--red {
  background-color: #fb565a;
  color: #ffffff;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* Зеленая кнопка */
.button--green {
  background-color: #00ca74;
  color: #ffffff;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

/* Желтая кнопка */
.button--yellow {
  background-color: #efc84a;
  color: #ffffff;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* круглые кнопки, социальные кнопки */
.social-link {
  background-color: #e1e1e1;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
  height: 79px;
  width: 79px;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-link--vk {
  background-image: url("../img/layout/icon-vk.svg");
}

.social-link--fb {
  background-image: url("../img/layout/icon-fb.svg");
}

.social-link--insta {
  background-image: url("../img/layout/icon-insta.svg");
}

/* Навигация */

.main-nav {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
}

.main-nav-logo {
  display: block;
  min-width: 160px;
}

.main-nav-logo img {
  height: 65px;
  vertical-align: middle;
  width: 160px;
}

.main-nav-logo[href]:hover,
.main-nav-logo[href]:focus {
  opacity: 0.8;
}

.main-nav-logo[href]:active {
  opacity: 0.3;
}

.main-nav-site,
.main-nav-buy {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 29px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main-nav-site {
  box-sizing: border-box;
  padding-left: 23px;
  min-width: 720px;

  justify-content: center;
}

.main-nav-buy {
  justify-content: flex-end;
}

.main-nav-buy li,
.main-nav-site li {
  margin-bottom: 12px;
}

.main-nav-site li {
  margin-right: 46px;
}

.main-nav-buy li {
  margin-left: 23px;
}

/* Кнопки навигации */
.main-nav-link {
  color: #000000;
  display: block;
  position: relative;
}

.main-nav-link::after {
  content: "";
  border-bottom: 2px solid transparent;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
}

.main-nav-link[href]:hover,
.main-nav-link[href]:focus {
  color: #fb565a;
}

.main-nav-link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-link--current::after {
  border-bottom-color: #fb565a;
}

.main-nav-link--basket {
  padding-left: 40px;
}

.main-nav-link--basket::before {
  content: "";
  background: url("../img/layout/icon-basket.svg") no-repeat left top;
  display: block;
  height: 15px;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px;
}

/* Название h1 */

.page-title {
  background-color: #eeeeee;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  padding: 78px 0 108px;
  text-align: center;

}

/* Блок слайдер */

.main-slideshows {
  background-color: #eeeeee;
}

.main-slideshows-item {
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 431px;
  padding-top: 78px;
}

.main-slideshows-item--phones {
  background-image: url("../img/articles/img-slide-phones.png");
  background-position: right 31px top 18px;
}

.main-slideshows-item--imacs {
  background-image: url("../img/articles/img-slide-imacs.png");
  background-position: right 30px top 17px;
}

.main-slideshows-item--pads {
  background-image: url("../img/articles/img-slide-pads.png");
  background-position: right 30px top 17px;
}

.main-slideshows-info {
  width: 520px;
}

.main-slideshows-item h3 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.main-slideshows-item p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.main-slideshows .button {
  min-width: 240px
}

/* Блок услуги */

.main-servises {
  padding-top: 80px;
  padding-bottom: 37px;
}

.main-servises-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-servises-item {
  box-sizing: border-box;
  color: #283136;
  min-height: 360px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 300px;
}

.main-servises-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.main-servises-item::before {
  content: "";
  display: block;
  height: 146px;
  margin-bottom: 25px;
}

.main-servises-item--sites::before {
  background: #fb565a url("../img/services/icon-sites.png") no-repeat 84px 34px;
}

.main-servises-item--apps::before {
  background: #00ca74 url("../img/services/icon-apps.png") no-repeat 96px 28px;
}

.main-servises-item--presentations::before {
  background: #efc849 url("../img/services/icon-presentations.png") no-repeat center 33px;
}

.main-servises-item h3 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 17px;
  text-transform: uppercase;
}

.main-servises-item p {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  padding-right: 30px;
}

.main-servises .button {
  min-width: 160px
}

/* Основная статья */

.main-article {
  padding-top: 40px;
  padding-bottom: 73px;

  display: flex;
  justify-content: space-between;
}

.main-article-base {
  padding-top: 34px;
  width: 660px;
}

.main-article-slogan {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  margin-bottom: 33px;
}

.main-article-breaf {
  margin: 0;
  margin-bottom: 39px;
}

h4 {
  color: #000000;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.main-article-base h4 {
  margin-bottom: 24px;
}

.main-article-statistics h4 {
  margin-bottom: 41px;
  text-align: center;
}

.main-article-base ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-article-statistics img {
  margin-bottom: 29px;
}

.main-article-base li {
  padding-left: 36px;
  position: relative;
}

.main-article-base li:not(:last-child) {
  margin-bottom: 24px;
}

.main-article-base li::before {
  content: "";
  box-sizing: border-box;
  border-top: 2px solid #fb565a;
  display: block;
  height: 0;
  position: absolute;
  left: 1px;
  top: 11px;
  width: 25px;
}

.main-article dl {
  margin: 0;
  width: 360px;

  display: flex;
  flex-wrap: wrap;
}

.main-article dt,
.main-article dd {
  width: 119px;
  margin: 0;
  padding: 0;
}

.main-article dt {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 19px;
  text-transform: uppercase;

  order: -1;
}

.main-article dd {
  line-height: 18px;
}

.main-article-statistics sup {
  font-size: 27px;
  vertical-align: 2px;

}

/* Сотрудничество с компаниями */

.main-partners {
  padding: 30px 0;
  margin-bottom: 80px;
}

.main-partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-partners li {
  height: 120px;
  position: relative;
  width: 260px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-partners li:not(:nth-of-type(4n)):not(:last-child) {
  margin-right: 40px;
}

.main-partners li:not(:nth-of-type(4n)):not(:last-child)::before {
  content: "";
  border-right: 2px solid #eeeeee;
  display: block;
  height: 52px;
  margin-top: -26px;
  position: absolute;
  right: -20px;
  top: 50%;
  width: 0;
}

.main-partners img {
  margin-top: 2px;
  vertical-align: middle;
}

.main-partners a {
  opacity: 0.2;
}

.main-partners a:hover,
.main-partners a:focus {
  opacity: 1;
}

.main-partners a:active {
  opacity: 0.1;
}

/* Карта и адрес */

.main-map {
  overflow: hidden;
  position: relative;
}

.main-map-img {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -720px;
  max-width: none;
  vertical-align: middle;
}

.main-map-marker {
  display: block;
  position: absolute;
  top: 89px;
  left: 50%;
  margin-left: 100px;
  height: 190px;
  width: 231px;
  z-index: 1;
}

/* подвал сайта */

.page-footer {
  box-sizing: border-box;
  min-height: 218px;
  padding-top: 69px;

  display: flex;
  align-items: flex-start;
}

.footer-social-links {
  width: 400px;
}

.social-links-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-links-list li:not(:last-child) {
  margin-right: 12px;
}

.footer-column-info {
  padding-top: 6px;
}

.footer-slogan {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
  margin-bottom: 9px;
}

.footer-action {
  margin: 0;
}

/* Колонки каталога */

.catalog-columns {
  padding-top: 53px;
  padding-bottom: 59px;

  display: flex;
  justify-content: space-between;
}

/* Фильтры форма */

.filters {
  width: 260px;
}

.filters-form {
  margin: 0;
  padding-top: 2px;
}

.filters-part {
  border: none;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.filters-part--features {
  margin-bottom: 47px;
}

.filters-part--buy {
  min-height: 264px;
  margin: 0;
}

.filters legend,
.sorting h3 {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  text-transform: uppercase;
}
.sorting h3 {
  margin: 0;
}


.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.filters-list li:not(:last-child) {
  margin-bottom: 15px;
}

.filters-input {
  margin: 0;
  padding: 0;
}

.filters-input:disabled+label {
  color: rgba(40, 49, 54, 0.3);
}

.filters-input--radio+label::before {
  content: "";
  background: url("../img/layout/icon-radio-off.svg") no-repeat left top;
  display: inline-block;
  height: 25px;
  opacity: 0.4;
  width: 35px;
  vertical-align: top;
}

.filters-input--checkbox+label::before {
  content: "";
  background: url("../img/layout/icon-checkbox-off.svg") no-repeat left center;
  display: inline-block;
  height: 25px;
  opacity: 0.4;
  width: 35px;
  vertical-align: top;
}

.filters-input--radio:checked+label::before {
  background: url("../img/layout/icon-radio-on.svg") no-repeat left center;
  opacity: 1;
}

.filters-input--checkbox:checked+label::before {
  background: url("../img/layout/icon-checkbox-on.svg") no-repeat left center;
  opacity: 1;
}

.filters .filters-input:disabled+label::before {
  opacity: 0.1;
}

/* Переопределяем свойства тега button */
.button--filters {
  border: none;
  min-width: 260px;
  padding: 1px 15px 0;
}

/* Блок сортировка */

.sorting {
  margin-bottom: 50px;
}

/* карточка товара */

.catalog {
  width: 760px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-item {
  background-color: #ffffff;
  height: 616px;
  margin-bottom: 33px;
  position: relative;
  width: 360px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.catalog-item::before {
  content: "";
  background-image: url("../img/layout/icon-browser.svg");
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  opacity: 0.1;
  position: relative;
  left: 0;
  top: 0;
  width: 360px;
  z-index: 1;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-image {
  height: 576px;
  width: 360px;
}

/* Рамка изображения */
.catalog-item-image::before {
  content: "";
  box-sizing: border-box;
  border: 1px solid rgba(0, 1, 1, 0.1);
  height: inherit;
  position: absolute;
  right: 0;
  bottom: 0;
  width: inherit;
}

.catalog-item:hover .catalog-item-image::before {
  border-color: transparent;
}

/* Рамка карточки */
.catalog-item-image::after {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.catalog-item:hover .catalog-item-image::after {
border-color: rgba(0, 1, 1, 0.1)
}

.catalog-item-image img {
  /* убираем отступы у картинки снизу от высоты строки */
  vertical-align: middle;
}

/* блок с информацией о товаре */
.catalog-item-info {
  background-color: #eeeeee;
  box-sizing: border-box;
  min-height: 231px;
  max-height: 576px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 15px;
  text-align: center;
  visibility: hidden;
  width: 360px;
}

.catalog-item:hover .catalog-item-info {
  opacity: 1;
  visibility: visible;
}

.catalog-item-info h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-transform: uppercase;
}

.catalog-item-info p {
  line-height: 18px;
  margin: 0 auto 30px;
  width: 200px;
}

.catalog-item-info .button {
  margin: 0 auto;
  min-width: 200px;
}

/* Номера сраницы c ссылками a.button */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 7px;
}
.pagination li:last-child {
  margin-right: 0;
}
.pagination-number--current .button {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-number--current .button:hover,
.pagination-number--current .button:focus,
.pagination-number--current .button:active {
  color: inherit;
}

.pagination-word .button {
  min-width: 260px;
}
