.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 1px;
}

body {
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
  min-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* горизонтальная граница разделов */

.section-border {
  border-bottom: 2px solid #eeeeee;
}

.central {
  margin: 0 auto;
  width: 1160px;
}

.page-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

/* Стили состояний допол. ссылок заголовков и тестов */

.add-link {
  color: inherit;
}

.add-link:hover,
.add-link:focus {
  color: #fb565a;
}

.add-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* кнопки по умолчанию серая */

.button {
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  min-width: 50px;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #dfdfdf;
}

.button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.button[type]:active {
  outline: none;
}

.button[type] {
  border: none;
  cursor: pointer;
}

/* Красная кнопка */

.button--red {
  background-color: #fb565a;
  color: #ffffff;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* Зеленая кнопка */

.button--green {
  background-color: #00ca74;
  color: #ffffff;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

/* Желтая кнопка */

.button--yellow {
  background-color: #efc84a;
  color: #ffffff;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button--disabled,
.button--disabled:hover,
.button--disabled:active {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  background-color: #f5f5f5;
  box-shadow: none;
}

/* Кнопка-крестик модальное окно */

.button-cross {
  display: block;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button-cross::before {
  content: "";
  background: url(../img/layout/icon-cross-close.svg) no-repeat center;
  display: block;
  height: 31px;
  opacity: 0.3;
  width: 31px;
}

.button-cross[type] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-cross:hover::before,
.button-cross:focus::before {
  opacity: 1;
}

.button-cross:active::before {
  opacity: 0.1;
}

.button-cross[type]:active {
  outline: none;
}

/* круглые кнопки, социальные кнопки */

.social-link {
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
}

.social-link::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 79px;
  width: 79px;
}

.social-link--vk::before {
  background-image: url(../img/layout/icon-vk.svg);
}

.social-link--fb::before {
  background-image: url(../img/layout/icon-fb.svg);
}

.social-link--insta::before {
  background-image: url(../img/layout/icon-insta.svg);
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-link:active::before {
  opacity: 0.3;
}

/* Навигация */

.main-nav {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.main-nav-logo {
  display: block;
  margin-right: 20px;
  min-width: 160px;
}

.main-nav-logo img {
  height: 65px;
  vertical-align: middle;
  width: 160px;
}

.main-nav-logo[href]:hover,
.main-nav-logo[href]:focus {
  opacity: 0.8;
}

.main-nav-logo[href]:active {
  opacity: 0.3;
}

.main-nav-site,
.main-nav-buy {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main-nav-site {
  box-sizing: border-box;
  min-width: 700px;
  justify-content: center;
}

.main-nav-buy {
  min-width: 160px;
  justify-content: flex-end;
}

.main-nav-site li {
  margin-right: 16px;
}

.main-nav-buy li {
  margin-left: 16px;
}

/* Кнопки навигации */

.main-nav-link {
  color: #000000;
  display: block;
  padding: 8px 15px;
  position: relative;
}

.main-nav-buy .main-nav-link {
  padding-right: 0;
}

.main-nav-buy .main-nav-link--basket {
  padding-left: 40px;
}

.main-nav-link--basket::before {
  content: "";
  background: url(../img/layout/icon-basket.svg) no-repeat left top;
  display: block;
  height: 15px;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 12px;
  width: 15px;
}

.main-nav-link::after {
  content: "";
  border-bottom: 2px solid transparent;
  height: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
}

.main-nav-link--basket::after {
  left: 0;
  right: 0;
}

.main-nav-link[href]:hover,
.main-nav-link[href]:focus {
  color: #fb565a;
}

.main-nav-link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-link--current::after {
  border-bottom-color: #fb565a;
}

/* Название h1 */

.page-title {
  background-color: #eeeeee;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  padding: 77px 0 108px;
  text-align: center;
}

/* Блок слайдер */

.main-slideshows {
  background-color: #eeeeee;
  position: relative;
}

.main-slideshows-item {
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: none;
  min-height: 430px;
  padding: 77px 0 80px;
}

.main-slideshows-item--phones {
  background-image: url(../img/articles/img-slide-phones.png);
  background-position: right 31px bottom 0;
}

.main-slideshows-item--imacs {
  background-image: url(../img/articles/img-slide-imacs.png);
  background-position: right 1px bottom 0;
}

.main-slideshows-item--pads {
  background-image: url(../img/articles/img-slide-pads.png);
  background-position: right 0 bottom 0;
}

.main-slideshows-info {
  width: 550px;
}

.main-slideshows-item h3 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.main-slideshows-item p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  width: 425px;
}

.main-slideshows .button {
  min-width: 240px
}

.main-slideshows-control {
  display: block;
  min-width: 36px;
  margin: 0 auto;
  position: absolute;
  bottom: 91px;
  left: 50%;
  line-height: 0;
  padding: 5px;
  transform: translateX(-50%);
}

.main-slideshows-control label {
  display: inline-block;
  background-color: #ffffff;
  background-size: 9px 9px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 13px;
  margin-left: 0;
  padding: 5px;
  vertical-align: top;
}

.main-slideshows-control label:last-child {
  margin-right: 0;
}

.main-slideshows-control label::before {
  content: "";
  display: block;
  border: 2px solid transparent;
  border-radius: 50%;
  height: 4px;
  position: relative;
  left: 0;
  top: 0;
  width: 4px;
}

#slide-phones:hover~.main-slideshows-control label[for="slide-phones"]::before,
#slide-imacs:hover~.main-slideshows-control label[for="slide-imacs"]::before,
#slide-pads:hover~.main-slideshows-control label[for="slide-pads"]::before,
#slide-phones:checked~.main-slideshows-control label[for="slide-phones"]::before,
#slide-imacs:checked~.main-slideshows-control label[for="slide-imacs"]::before,
#slide-pads:checked~.main-slideshows-control label[for="slide-pads"]::before {
  border-color: #c1c1c1;
}

#slide-phones:checked~.main-slideshows-item--phones,
#slide-imacs:checked~.main-slideshows-item--imacs,
#slide-pads:checked~.main-slideshows-item--pads {
  display: block;
}

/* Блок услуги */

.main-servises {
  padding-top: 80px;
  padding-bottom: 37px;
}

.main-servises-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-servises-item {
  box-sizing: border-box;
  min-height: 360px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 300px;
}

.main-servises-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.main-servises-item::before {
  content: "";
  display: block;
  height: 146px;
  margin-bottom: 25px;
}

.main-servises-item--sites::before {
  background: #fb565a url(../img/services/icon-sites.png) no-repeat 84px 34px;
}

.main-servises-item--apps::before {
  background: #00ca74 url(../img/services/icon-apps.png) no-repeat 96px 28px;
}

.main-servises-item--presentations::before {
  background: #efc849 url(../img/services/icon-presentations.png) no-repeat center 33px;
}

.main-servises-item h3 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 17px;
  text-transform: uppercase;
}

.main-servises-item p {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  padding-right: 30px;
}

.main-servises .button {
  min-width: 160px
}

/* Основная статья */

.main-article {
  padding-top: 40px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;
}

.main-article-base {
  padding-top: 34px;
  width: 660px;
}

.main-article-slogan {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  margin-bottom: 33px;
}

.main-article-breaf {
  margin: 0;
  margin-bottom: 39px;
}

.main-article h4 {
  color: #000000;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.main-article-base h4 {
  margin-bottom: 24px;
}

.main-article-statistics h4 {
  margin-bottom: 41px;
  text-align: center;
}

.main-article-base ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-article-base li {
  padding-left: 36px;
  position: relative;
}

.main-article-base li:not(:last-child) {
  margin-bottom: 24px;
}

.main-article-base li::before {
  content: "";
  box-sizing: border-box;
  border-top: 2px solid #fb565a;
  display: block;
  height: 0;
  position: absolute;
  left: 1px;
  top: 11px;
  width: 25px;
}

.main-article-img {
  height: 208px;
  margin: 0;
  margin-bottom: 36px;
}

.main-article-img img {
  height: 208px;
  vertical-align: middle;
  width: 360px;
}

.main-article dl {
  margin: 0;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.main-article dt,
.main-article dd {
  width: 119px;
  margin: 0;
  padding: 0;
}

.main-article dt {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 19px;
  text-transform: uppercase;
  order: -1;
}

.main-article dd {
  line-height: 18px;
}

.main-article-statistics sup {
  font-size: 27px;
  vertical-align: 2px;
}

/* Сотрудничество с компаниями */

.main-partners {
  padding: 30px 0;
  margin-bottom: 80px;
}

.main-partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-partners-item {
  height: 120px;
  position: relative;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-partners-item:not(:nth-of-type(4n)):not(:last-child) {
  margin-right: 40px;
}

.main-partners-item:not(:nth-of-type(4n)):not(:last-child)::before {
  content: "";
  border-right: 2px solid #eeeeee;
  display: block;
  height: 52px;
  margin-top: -26px;
  position: absolute;
  right: -20px;
  top: 50%;
  width: 0;
}

.main-partners-item:first-of-type img {
  margin-top: 11px;
}

.main-partners-item:nth-of-type(4) img {
  margin-top: 8px;
}

.main-partners-item img {
  margin-top: 2px;
  vertical-align: middle;
}

.main-partners-item a {
  opacity: 0.2;
}

.main-partners-item a:hover,
.main-partners-item a:focus {
  opacity: 1;
}

.main-partners-item a:active {
  opacity: 0.1;
}

/* Карта и адрес */

.main-map {
  overflow: hidden;
  position: relative;
}

.main-map-img {
  display: block;
  margin-left: -720px;
  max-width: none;
  position: relative;
  top: 0;
  left: 50%;
}

.main-map-iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-map-marker {
  display: block;
  height: 190px;
  margin-left: 100px;
  position: absolute;
  top: 89px;
  left: 50%;
  width: 231px;
}

.main-map-contacts {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #666666;
  display: block;
  height: 308px;
  margin-right: 261px;
  padding: 49px 50px 20px;
  overflow: auto;
  position: absolute;
  top: 54px;
  right: 50%;
  width: 319px;
}

.main-map-company {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.main-map-company~p {
  line-height: 18px;
  margin: 0;
  margin-bottom: 18px;
  padding-left: 1px;
  padding-right: 10px;
}

.main-map-phone a {
  color: inherit;
  text-decoration: none;
}

.main-map-contacts .button {
  margin-top: 19px;
  min-width: 219px;
}

/* подвал сайта */

.page-footer {
  box-sizing: border-box;
  min-height: 218px;
  padding-top: 69px;
  display: flex;
  align-items: flex-start;
}

.social-links {
  width: 400px;
}

.social-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-links-list li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.footer-column-info {
  padding-top: 6px;
}

.footer-slogan {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  line-height: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.footer-action {
  color: #444444;
  line-height: 22px;
  margin: 0;
}

/* Колонки каталога */

.catalog-columns {
  padding-top: 52px;
  padding-bottom: 59px;
  display: flex;
  justify-content: space-between;
}

/* Фильтры форма */

.filters {
  width: 260px;
}

.filters-part {
  border: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.filters legend,
.sorting h3 {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 11px;
  padding: 0 0 0 1px;
  text-transform: uppercase;
}

.sorting h3 {
  margin: 0;
  margin-right: 30px;
}

.filters-part--buy legend {
  margin-bottom: 16px;
  padding-top: 3px;
}

/* Range - ползунок, фильтр стоимость */

.filters-part--buy {
  min-height: 267px;
  margin: 0;
  padding: 0;
}

.range-filter {
  margin: 32px 0;
  width: 260px;
}

.range-controls {
  background-color: #eeeeee;
  border-radius: 4px;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.range-controls .scale {
  background: #d7dcde;
  height: 2px;
}

.range-controls .bar {
  background: #00ca74;
  height: 2px;
  width: 70%;
}

.range-controls .toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  height: 4px;
  padding: 0;
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
}

.range-controls .toggle-min {
  left: 17px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  vertical-align: baseline;
  width: 50%;
}

.price-controls input {
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-left: 8px;
  padding: 8px 0 8px;
  text-align: center;
  vertical-align: baseline;
  width: 80px;
}

.max-price {
  text-align: right;
}

/* Форма - Сетка и Особенности */

.filters-part--features {
  margin-bottom: 44px;
}

.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.filters-list li {
  margin-bottom: 10px;
}

.filters-list li:last-child {
  margin-bottom: 0;
}

.filters-input+label {
  /* курсор с указателем, у полей действует как ховер */
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 15px 0 1px;
  /* отменяем выделение текста подписи цветом */
  user-select: none;
  vertical-align: top;
}

.filters-input+label::before {
  content: "";
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  margin-top: -5px;
  opacity: 0.4;
  width: 35px;
  vertical-align: top;
}

.filters-input--radio+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12.5C0 5.597 5.597 0 12.5 0C19.403 0 25 5.597 25 12.5C25 19.403 19.403 25 12.5 25C5.597 25 0 19.403 0 12.5ZM21 12.5C21 7.813 17.187 4 12.5 4C7.813 4 4 7.813 4 12.5C4 17.187 7.813 21 12.5 21C17.187 21 21 17.187 21 12.5Z' fill='%234D4D4D'/%3E%3C/svg%3E");
  background-position: 0 2px;
}

.filters-input--radio:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%234D4D4D' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E");
}

.filters-input--checkbox+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%234D4D4D'/%3E%3C/svg%3E");
  background-position: 0 3px;
}

.filters-input--checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.filters-input:disabled+label {
  color: rgba(40, 49, 54, 0.3);
  cursor: default;
}

.filters-input:disabled+label::before {
  opacity: 0.1;
}

/* Состояния полей */

.filters-input:not(:disabled)+label:hover::before,
.filters-input:not(:disabled):focus+label::before {
  opacity: 1;
}

/* Переопределяем свойства тега button */
.filters .button {
  min-width: 260px;
}

/* Блок сортировка */

.sorting {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorting-type-list {
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sorting-type-list li {
  margin-left: 5px;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.sorting-link[href]:hover,
.sorting-link[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link[href]:active,
.sorting-link:not([href]) {
  color: rgba(0, 0, 0, 1.0);
}

.sorting-set {
  margin-right: -9px;
  min-width: 88px;
  display: flex;
  justify-content: flex-end;
}

.sorting-set-item {
  font-size: 14px;
  line-height: 18px;
  padding: 5px 9px;
  opacity: 0.2;
}

.sorting-ascending svg {
  transform: rotate(180deg);
  vertical-align: baseline;
}

.sorting-set-item[href]:hover,
.sorting-set-item[href]:focus,
.sorting-set-item[href]:active,
.sorting-set-item:not([href]) {
  opacity: 1;
}

.sorting-set-item[href]:active path,
.sorting-set-item:not([href]) path {
  fill: #231F20;
}

/* карточка товара */

.catalog {
  width: 760px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-item {
  background-color: #ffffff;
  height: 616px;
  margin-bottom: 33px;
  position: relative;
  width: 360px;
}

.catalog-item:focus-within {
  /* Совместно полифил для IE */
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.catalog-item::before {
  content: "";
  background-image: url(../img/layout/icon-browser.svg);
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  opacity: 0.1;
  position: relative;
  left: 0;
  top: 0;
  width: 360px;
  z-index: 1;
}

.catalog-item:focus-within::before {
  /* Совместно полифил для IE */
  opacity: 1;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}

.catalog-item-image {
  height: 576px;
  width: 360px;
}

.catalog-item .button {
  color: #ffffff;
}

/* Рамка изображения */

.catalog-item-image::before {
  content: "";
  box-sizing: border-box;
  border: 1px solid rgba(0, 1, 1, 0.1);
  height: inherit;
  position: absolute;
  right: 0;
  bottom: 0;
  width: inherit;
}

.catalog-item:focus-within .catalog-item-image::before {
  /* Совместно полифил для IE */
  border-color: transparent;
}

.catalog-item:hover .catalog-item-image::before,
.catalog-item:focus .catalog-item-image::before {
  border-color: transparent;
}

/* Рамка карточки */

.catalog-item-image::after {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.catalog-item:focus-within .catalog-item-image::after {
  /* Совместно полифил для IE */
  border-color: rgba(0, 1, 1, 0.1)
}

.catalog-item:focus .catalog-item-image::after,
.catalog-item:hover .catalog-item-image::after {
  border-color: rgba(0, 1, 1, 0.1)
}

.catalog-item-image {
  /* убираем отступы у картинки снизу от высоты строки */
  vertical-align: middle;
}

/* блок с информацией о товаре */
.catalog-item-info {
  background-color: #eeeeee;
  box-sizing: border-box;
  min-height: 231px;
  max-height: 576px;
  /* Скрытие блока с информацией о проекте */
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 20px 43px;
  text-align: center;
  width: 360px;
}

.catalog-item:focus-within .catalog-item-info {
  /* Совместно полифил для IE */
  opacity: 1;
}

.catalog-item:hover .catalog-item-info,
.catalog-item:focus .catalog-item-info {
  opacity: 1;
}

.catalog-item-info h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  text-transform: uppercase;
}

.catalog-item-info p {
  color: #666666;
  line-height: 18px;
  max-height: 381px;
  margin: 0 auto 20px;
  padding: 10px 0;
  overflow: auto;
  width: 200px;
}

.catalog-item-info .button {
  margin: 0 auto;
  min-width: 200px;
}

/* Номера сраницы c ссылками a.button */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 7px;
  vertical-align: top;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination-number--current .button {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-number--current .button:hover,
.pagination-number--current .button:focus,
.pagination-number--current .button:active {
  color: inherit;
}

.pagination-word .button {
  min-width: 260px;
}

/* Попап Напишите нам */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-mess {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  display: none;
  min-height: 590px;
  margin-left: -480px;
  margin-top: -295px;
  padding: 67px 100px 84px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 960px;
  z-index: 2;
}

/* открытие модального окна - по умолчанию закрыто (при использовани JS) */

.modal-mess--open {
  animation: bounce 0.6s;
  display: block;
}

.modal-mess--error {
  animation: shake 0.6s;
}

.modal-mess h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  margin-bottom: 41px;
  margin-right: 40px;
}

.modal-mess .columns {
  margin-bottom: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-mess-field {
  display: block;
  width: 360px;
  margin: 0;
  margin-bottom: 34px;
  line-height: 18px;
}

.modal-mess-field span,
.modal-mess-textarea span {
  color: #000000;
  display: block;
  font-weight: bold;
  margin-bottom: 9px;
}

.modal-mess-textarea {
  width: 100%;
  line-height: 18px;
}

.modal-mess-form textarea {
  resize: none;
  height: 118px;
  overflow: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
}

.modal-mess .button {
  min-width: 260px;
}

.modal-mess .button-cross {
  right: 85px;
  top: 72px;
}

/* Состояние полей */

.field {
  border-radius: 3px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  padding: 0 13px 1px;

  background-color: #ffffff;
  border: solid 2px #d7dcde;
  color: #444444;
  font: inherit;
  vertical-align: top;
}

.field::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.field:hover {
  border: solid 2px #b4b9bb;
}

.field[invalid],
.field--invalid,
.field--invalid:hover {
  color: #e74246;
  border: solid 2px #e74246;
}

.field:focus,
.field[invalid]:focus,
.field--invalid:focus {
  border: solid 2px #000000;
  color: #444444;
  outline: none;
}
